{% extends 'inquiry/bas.html' %}
{% load static %}
{% block content %}

<div class="jumbotron">
    <img src={% static 'inquiry/img/fmj.png'%} alt="..." class="img-thumbnail">
    <h1 class="display-4">Welcome to Jungle formal Boutique</h1>
    <p class="lead">Corner Samora Machel and Julius Nyerere Number 104 Block</p>
    <hr class="my-4">
    <p>We sell classic formal clothing that makes the impression , please we dont sell sub starndard stuff</p>
    <p class="lead">
    </p>
</div>
{% endblock content %}