


{% extends 'inquiry/bas.html' %}
{% load static %}
{% block content %}
    <main>
        <div class="jumbotron jumbtron-fluid home mb-3" style="background-image: url({% static 'inquiry/img/cover.jpg' %})">
            <h1 class="site-title text-center ">Get the latest formal and the most trending designer clothing</h1>

        </div>
       
        
        <section class="row">
        

                      <div class="col-md-6 col-sm-12 col-xl-4 col-lg-6">
                        <div class="card mb-3 bg-secondary">

                            <div class="row no-gutters">
                                <div class="col-4">
                              <img src={% static 'inquiry/img/pic6.png' %} class="card-img" alt="...">
                            </div>
                            <div class=" col-8">

                               <div class="card-body">
                                <h5 class="card-title">Brown english coat</h5>
                                <p class="card-text"><b>PRICE:</b> 4000<B> ZWL</B></p>
                            </div>
                            </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xl-4 col-lg-6 " >
                        <div class="card mb-3 bg-secondary ">

                            <div class="row no-gutters">
                                <div class="col-4">
                              <img src={% static 'inquiry/img/pic5.png' %} class="card-img" alt="...">
                            </div>
                            <div class=" col-8">

                                <div class="card-body">
                                    <h5 class="card-title">Black Coat</h5>
                                <p class="card-text"><b>PRICE:</b> 2000<B> ZWL</B></p>
                                </div>
                            </div>


                            </div>
                        </div>
                    </div>

                      <div class="col-md-6 col-sm-12 col-xl-4 col-lg-6">
                        <div class="card mb-3 bg-secondary  ">

                            <div class="row no-gutters">
                                <div class="col-4">
                              <img src={% static 'inquiry/img/pic4.png' %} class="card-img" >
                            </div>
                            <div class=" col-8">

                               <div class="card-body">
                                <h5 class="card-title">Brown coat</h5>
                                <p class="card-text"><b>PRICE:</b> 2000<B>ZWL</B></p>
                            </div>
                            </div>


                            </div>
                        </div>
                    </div>


         <div class="col-md-6 col-sm-12 col-xl-4 col-lg-6">
                        <div class="card mb-3 bg-secondary  ">

                            <div class="row no-gutters">
                                <div class="col-4">
                              <img src={% static 'inquiry/img/pic3.png' %} class="card-img" >
                            </div>
                            <div class=" col-8">

                              <div class="card-body">
                                <h5 class="card-title">Grey Suit</h5>
                                <p class="card-text"><b>PRICE:</b> 2000<B>ZWL</B></p>
                             </div>
                            </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-6 col-sm-12 col-xl-4 col-lg-6">
                        <div class="card mb-3 bg-secondary  ">

                            <div class="row no-gutters">
                                <div class="col-4">
                              <img src={% static 'inquiry/img/pic2.png' %} class="card-img" >
                            </div>
                            <div class=" col-8">

                                         <div class="card-body">
                                <h5 class="card-title">Brown Suit</h5>
                                <p class="card-text"><b>PRICE:</b> 2000<B>ZWL</B></p>
                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>

            <div class="col-md-6 col-sm-12 col-xl-4 col-lg-6">
                        <div class="card mb-3 bg-secondary  ">

                            <div class="row no-gutters">
                                <div class="col-4">
                              <img src={% static 'inquiry/img/pic1.png' %} class="card-img" >
                            </div>
                            <div class=" col-8">

                              <div class="card-body">
                            <h5 class="card-title">Black Tuxedo</h5>
                            <p class="card-text"><b>PRICE:</b> 2000<B>ZWL</B></p>
                     </div>
                            </div>
                            </div>
                        </div>
                    </div>


              
        </section>
    
        <div class="row">

            
            </div>
            
            
            
            
            </div>
            

    </main>
{% endblock content %}
